body {
  font-family: "Helvetica Neue";
  background-color: black;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

main {
  border-radius: 1rem;
  background-color: hsl(0, 0%, 19%);
  color: white;
  width: 40rem;
  height: 22.5rem;
  padding: 2rem;
  line-height: normal;
}

h1 {
  margin-bottom: 1rem;
}

.logo {
  width: 30%;
  /* margin-bottom: 1rem; */
}

.cover__play {
  max-width: 100%;
  width: 100rem;
}

.now__playing {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.now__playinginfo {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.song__title {
  font-size: 2rem;
}

.artist__name {
  font-size: 1.5rem;
}

.album__name {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
}

.now__playingcontrol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40%;

  .play__button,
  .backward__button,
  .forward__button {
    :hover {
      width: 2.6rem;
      height: 2.1rem;
      fill: hsl(0, 0%, 100%);
    }
  }
}

svg {
  fill: hsl(0, 0%, 90%);
  width: 2.5rem;
  height: 2rem;
  transition: all 0.1s ease-in-out;
}
